In [1]:
a, b, c = 33, 100, 50

In [2]:
if a<30:
    print("a is less than 30")
    #   some more code
else:
    print("a is more or equal to 30")

a is more or equal to 30

In [4]:
if a<30:
    print("a is less than 30")
    #   some more code
elif a>=30 and a<=70:
    print("a is in between 30 & 70")
else:
    print("a is more then 70")
print("last line")

a is in between 30 & 70
last line

In [5]:
data = False

In [6]:
if data:
    print("hi")
else:
    print("hello")

hello

In [7]:
while(a<36):
    print("a =", a)
    a = a+1

a = 33
a = 34
a = 35

In [8]:
if ((a==33) and (b>50) and (c<100)):
    print("hey")

In [9]:
if a==33 and b>50 and c<100:
    print("hey")

In [12]:
if ((a==33) and (c>50)) and (c<100):
    print("hey")

In [13]:
if a<50 and a>25:
    print("true")

true

In [15]:
25 < a < 50 #chaining of operators

True

In [16]:
if ((a==33) and (b>50) and (c<100)): print("hey")

In [17]:
lista = ['hyderabad', 'chennai', 'mysuru', 'bangalore']

In [18]:
for city in lista:
    print("city = ", city)

city =  hyderabad
city =  chennai
city =  mysuru
city =  bangalore

In [19]:
for i in lista[1]:
    print("i =", i)

i = c
i = h
i = e
i = n
i = n
i = a
i = i

In [20]:
for city in lista[0:3]:
    print("city = ", city)

city =  hyderabad
city =  chennai
city =  mysuru

In [21]:
dicta = {'thor':'hammer', 'hulk':'smash', 'captain':'shield', 'ironman':'suit'}

In [22]:
for key in dicta:
    print(key)

thor
hulk
captain
ironman

In [23]:
for key in dicta:
    print(key, ':', dicta[key])

thor : hammer
hulk : smash
captain : shield
ironman : suit

In [25]:
for key, val in dicta.items():
    print(key, ':', val)

thor : hammer
hulk : smash
captain : shield
ironman : suit

In [26]:
for i in range(4):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3

In [27]:
for i in range(2,6):
    print("i =", i)

i = 2
i = 3
i = 4
i = 5

In [28]:
for i in range(1, 14, 3):
    print("i =", i)

i = 1
i = 4
i = 7
i = 10
i = 13

In [30]:
for i in range(-1, -5, -1):
    print("i =", i)

i = -1
i = -2
i = -3
i = -4

In [31]:
#   yield

In [32]:
for i in range(10, 5, -1):
    print("i =", i)

i = 10
i = 9
i = 8
i = 7
i = 6

In [33]:
lista = ['hyderabad', 'chennai', 'mysuru', 'bangalore', 'pune', 'cuttack']

In [34]:
lista[0:5:2]

['hyderabad', 'mysuru', 'pune']

In [35]:
lista[::2]

['hyderabad', 'mysuru', 'pune']

In [36]:
lista[::-1]

['cuttack', 'pune', 'bangalore', 'mysuru', 'chennai', 'hyderabad']

In [37]:
dicta = {'thor':['hammer', 'beer'], 'hulk':['smash', 'science'], 'captain':['shield', 'hammer']}

In [38]:
dicta

{'thor': ['hammer', 'beer'],
 'hulk': ['smash', 'science'],
 'captain': ['shield', 'hammer']}

In [39]:
for k, v in dicta.items():
    dicta[k] = "zero"

In [40]:
dicta

{'thor': 'zero', 'hulk': 'zero', 'captain': 'zero'}

In [45]:
dicta = {'thor':['hammer', 'beer'], 'hulk':['smash', 'science'], 'captain':['shield', 'hammer']}

In [43]:
for k, v in dicta.items():
    v.append(33)

In [44]:
dicta

{'thor': ['hammer', 'beer', 33],
 'hulk': ['smash', 'science', 33],
 'captain': ['shield', 'hammer', 33]}

In [46]:
dicta

{'thor': ['hammer', 'beer'],
 'hulk': ['smash', 'science'],
 'captain': ['shield', 'hammer']}

In [47]:
for k, v in dicta.items():
    if k == 'hulk':
        v.append(33)

In [48]:
dicta

{'thor': ['hammer', 'beer'],
 'hulk': ['smash', 'science', 33],
 'captain': ['shield', 'hammer']}

In [49]:
lista = ['hyderabad', 'chennai', 'mysuru', 'bangalore', 'pune', 'cuttack']

In [50]:
lista.index('kochi')

ValueError: 'kochi' is not in list

In [51]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break

found mysuru

In [52]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
    else:
        print("not found")

not found
not found
found mysuru

In [53]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
        break
    else:
        print("not found")

not found
not found
not found
not found
not found
not found

In [54]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
        break
else:
    print("not found")

not found

In [55]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
else:
    print("not found")

found mysuru

In [56]:
for city in lista:
    if city == 'cuttack':
        print("found cuttack")
else:
    print("not found")

found cuttack
not found

In [57]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
else:
    print("not found")

not found

In [58]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
else:
    print("not found")

found mysuru

In [59]:
for i in range(0, 3):
    for j in range(0, 3):
        if (i==j):
            print("tea break")
            break
        else:
            print("no tea break")
    print("coffee break")

tea break
coffee break
no tea break
tea break
coffee break
no tea break
no tea break
tea break
coffee break

In [60]:
#   continue
#   enumerate()