In [1]:
a = b = c = 60

In [2]:
a, b, c = 22, "string", 44.5

In [3]:
print(c)

44.5

In [4]:
11/2

5.5

In [5]:
11%2

1

In [6]:
11//2

5

In [7]:
2**3 # 2 raised to 3

8

In [9]:
a == 22 and c < 50

True

In [10]:
'q' in 'qualcomm'

True

In [11]:
't' in 'india'

False

In [12]:
'x' not in 'india'

True

In [13]:
vara = 9   #1001
varb = 11  #1011

In [14]:
vara & varb #1001

9

In [15]:
vara | varb

11

In [16]:
vara ^ varb #0010

2

In [17]:
#  false

In [18]:
data = True

In [19]:
data = None

In [20]:
lista = ['hyderabad', 'chennai', 
        'mysuru', 'bangalore']

In [21]:
print(b)

string

In [22]:
print(c)

44.5

In [23]:
b = None

In [24]:
print(b)

None

In [25]:
del c

In [26]:
print(c)

NameError: name 'c' is not defined

In [27]:
lista = ['hyderabad', 'chennai', 'mysuru', 'bangalore', 'pune', 'cuttack']

In [28]:
dicta = {'thor':['hammer', 'beer'], 'hulk':['smash', 'science'], 'captain':['shield', 'hammer']}

In [29]:
# lista.pop(3)
del lista[3]

In [30]:
lista

['hyderabad', 'chennai', 'mysuru', 'pune', 'cuttack']

In [31]:
del dicta['hulk']

In [32]:
dicta

{'thor': ['hammer', 'beer'], 'captain': ['shield', 'hammer']}

In [33]:
'kochi' in lista

False

In [35]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break

found mysuru

In [36]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
    else:
        print("not found")

not found
not found
found mysuru

In [37]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
        break
    else:
        print("not found")

not found
not found
not found
not found
not found

In [38]:
lista = ['hyderabad', 'chennai', 'mysuru', 'bangalore', 'pune', 'cuttack']

In [39]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
        break
else:
    print("not found")

not found

In [40]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
else:
    print("not found")

found mysuru

In [41]:
for city in lista:
    if city == 'cuttack':
        print("found cuttack")
else:
    print("not found")

found cuttack
not found

In [42]:
for city in lista:
    if city == 'kochi':
        print("found kochi")
else:
    print("not found")

not found

In [43]:
for city in lista:
    if city == 'mysuru':
        print("found mysuru")
        break
else:
    print("not found")

found mysuru

In [44]:
#   enumerate()

In [45]:
pass   #does nothing

In [48]:
if lista:
    print("true")
else:
    pass

true

In [49]:
for i in range(0, 3):
    for j in range(0, 3):
        if (i==j):
            print("tea break")
            break
        else:
            print("no tea break")
    print("coffee break")

tea break
coffee break
no tea break
tea break
coffee break
no tea break
no tea break
tea break
coffee break

In [50]:
a, b, c = 22, "hello", 44.5

In [51]:
a, b = 22, "string", 44.5

ValueError: too many values to unpack (expected 2)

In [52]:
a = 22, "string", 44.5

In [53]:
type(a)

tuple

In [54]:
print(a)

(22, 'string', 44.5)

In [55]:
x = 33
y = 33,

In [56]:
print(x)

33

In [57]:
print(y)

(33,)

In [58]:
x = input()

33

In [59]:
print(x)

33

In [60]:
type(x)

str

In [61]:
x = input("please enter only an integer:\n")

please enter only an integer:
4

In [62]:
x = int(input("please enter only an integer:\n\n"))

please enter only an integer:

44

In [63]:
type(x)

int

In [64]:
x = int(input("please enter only an integer:\n\n"))

please enter only an integer:

45.67

ValueError: invalid literal for int() with base 10: '45.67'

In [65]:
eval("7+10")

17

In [66]:
eval("7+10*10")

107

In [67]:
eval("(7+10)*10")

170

In [68]:
y = eval("a")

In [69]:
print(a)

(22, 'string', 44.5)

In [70]:
print(y)

(22, 'string', 44.5)

In [71]:
x = eval(input())

55.6

In [72]:
type(x)

float

In [73]:
x = eval(input())

56

In [74]:
type(x)

int

In [75]:
x = eval(input())

[9, 3, 12, 67]

In [76]:
type(x)

list

In [77]:
lista = [9, 3, 12, 67, 6]

In [78]:
listb = sorted(lista)

In [79]:
listb

[3, 6, 9, 12, 67]

In [80]:
lista

[9, 3, 12, 67, 6]

In [81]:
stra = "india"

In [82]:
listb = sorted(stra)

In [83]:
print(stra)

india

In [84]:
print(listb)

['a', 'd', 'i', 'i', 'n']

In [85]:
max(lista)

67

In [86]:
listb

['a', 'd', 'i', 'i', 'n']

In [87]:
max(listb)

'n'

In [88]:
min(lista)

3

In [89]:
sum(lista)

97

In [90]:
sum(lista)/len(lista)

19.4

In [91]:
listc = ['hi', 20, False, 33, None , [3, 4], [], 12]

In [92]:
any(listc)

True

In [93]:
any(lista)

True

In [94]:
all(listc)

False

In [95]:
all(lista)

True