In [1]:
# json like documents
# flexible & scalable

In [2]:
conda install pymongo

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [4]:
client = pymongo.MongoClient()
db = client["test"]
# db = client.test

In [5]:
client.list_database_names()

['admin', 'config', 'local']

In [6]:
col = db.customers

In [7]:
#  insert_one

In [8]:
dicta = {"name":"virat", "sport":"cricket"}

In [9]:
objx = col.insert_one(dicta)

In [10]:
print(objx.inserted_id)

5ed0e0c33bd98d84cfdd02e9

In [12]:
lista = [
    {'name':('Edwards', 'Nancy'), 'email' :'nancy@chinookcorp.com'},
    {'name':('Peacock', 'Jane'), 'email' : 'jane@chinookcorp.com'}, 
    {'name':('Park', 'Margaret'), 'email' : 'margaret@chinookcorp.com'}
]

In [13]:
type(lista[0])

dict

In [14]:
objx = col.insert_many(lista)

In [15]:
print(objx.inserted_ids)

[ObjectId('5ed0e2223bd98d84cfdd02ea'), ObjectId('5ed0e2223bd98d84cfdd02eb'), ObjectId('5ed0e2223bd98d84cfdd02ec')]

In [16]:
lista = [
    {"_id":4, 'name':('Edwards', 'Nancy'), 'email' :'nancy@chinookcorp.com'},
    {"_id":5, 'name':('Peacock', 'Jane'), 'email' : 'jane@chinookcorp.com'}, 
    {"_id":6, 'name':('Park', 'Margaret'), 'email' : 'margaret@chinookcorp.com'}
]

In [17]:
objx = col.insert_many(lista)

In [18]:
print(objx.inserted_ids)

[4, 5, 6]

In [19]:
objy = col.find_one()

In [20]:
print(objy)

{'_id': ObjectId('5ed0e0c33bd98d84cfdd02e9'), 'name': 'virat', 'sport': 'cricket'}

In [21]:
for objy in col.find({}, {"_id":0, "name":1}):
    print(objy)

{'name': 'virat'}
{'name': ['Edwards', 'Nancy']}
{'name': ['Peacock', 'Jane']}
{'name': ['Park', 'Margaret']}
{'name': ['Edwards', 'Nancy']}
{'name': ['Peacock', 'Jane']}
{'name': ['Park', 'Margaret']}

In [22]:
for objy in col.find({}, {"_id":0}):
    print(objy)

{'name': 'virat', 'sport': 'cricket'}
{'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}
{'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}

In [23]:
query = {"email": 'jane@chinookcorp.com'}

In [24]:
docx = col.find(query)

In [25]:
print(docx)

<pymongo.cursor.Cursor object at 0x108d2fbd0>

In [26]:
for val in docx:
    print(val)

{'_id': ObjectId('5ed0e2223bd98d84cfdd02eb'), 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'_id': 5, 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}

In [27]:
docx = col.find().sort("name")

for val in docx:
    print(val)

{'_id': ObjectId('5ed0e2223bd98d84cfdd02ea'), 'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'_id': 4, 'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'_id': ObjectId('5ed0e2223bd98d84cfdd02eb'), 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'_id': 5, 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'_id': ObjectId('5ed0e2223bd98d84cfdd02ec'), 'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}
{'_id': 6, 'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}
{'_id': ObjectId('5ed0e0c33bd98d84cfdd02e9'), 'name': 'virat', 'sport': 'cricket'}

In [31]:
query = {"_id":"4"}

In [33]:
col.delete_one(query)

In [34]:
docx = col.find().sort("name")

for val in docx:
    print(val)

{'_id': ObjectId('5ed0e2223bd98d84cfdd02ea'), 'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'_id': 4, 'name': ['Edwards', 'Nancy'], 'email': 'nancy@chinookcorp.com'}
{'_id': ObjectId('5ed0e2223bd98d84cfdd02eb'), 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'_id': 5, 'name': ['Peacock', 'Jane'], 'email': 'jane@chinookcorp.com'}
{'_id': ObjectId('5ed0e2223bd98d84cfdd02ec'), 'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}
{'_id': 6, 'name': ['Park', 'Margaret'], 'email': 'margaret@chinookcorp.com'}
{'_id': ObjectId('5ed0e0c33bd98d84cfdd02e9'), 'name': 'virat', 'sport': 'cricket'}

In [35]:
query = {"email":"margaret@chinookcorp.com"}

In [36]:
col.delete_one(query)

In [37]:
col.drop()