MySQL,
oracle,
SQL server, 
postgres, 

mongo

**database**
collections of tables
Structured Query Language

1. create a connection <br>
2. create a cursor <br>
3. send queries using cursor

In [1]:
import sqlite3

In [2]:
conobj = sqlite3.connect('chinook.db')

In [3]:
curobj = conobj.cursor()

In [4]:
query = 'SELECT * from employees'

In [5]:
curobj.execute(query)

In [7]:
data = curobj.fetchone()

In [8]:
print(data)

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')

In [9]:
data

(1,
 'Adams',
 'Andrew',
 'General Manager',
 None,
 '1962-02-18 00:00:00',
 '2002-08-14 00:00:00',
 '11120 Jasper Ave NW',
 'Edmonton',
 'AB',
 'Canada',
 'T5K 2N1',
 '+1 (780) 428-9482',
 '+1 (780) 428-3457',
 'andrew@chinookcorp.com')

In [10]:
data = curobj.fetchall()

In [11]:
type(data)

list

In [12]:
len(data)

7

In [13]:
import time

for record in data:
    print(record[1:3], record[-1])
    time.sleep(1)

('Edwards', 'Nancy') nancy@chinookcorp.com
('Peacock', 'Jane') jane@chinookcorp.com
('Park', 'Margaret') margaret@chinookcorp.com
('Johnson', 'Steve') steve@chinookcorp.com
('Mitchell', 'Michael') michael@chinookcorp.com
('King', 'Robert') robert@chinookcorp.com
('Callahan', 'Laura') laura@chinookcorp.com

In [14]:
import pandas as pd

In [16]:
dfa = pd.read_sql_query(query, conobj)

In [17]:
dfa

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [18]:
conobj.close()

In [19]:
query = 'CREATE TABLE players (id integer, name text, sport text, price real)'

In [20]:
conobj = sqlite3.connect('sports.db')

In [21]:
curobj = conobj.cursor()

In [22]:
curobj.execute(query)

In [23]:
query = 'INSERT INTO players VALUES(7, "dhoni", "cricket", 678200)'

In [24]:
curobj.execute(query)

In [25]:
conobj.commit()

In [26]:
tupa = (23, "V Anana", "chess", 145680)
tupb = (10, "Saina Nehwal", "badminton", 120022)
tupc = (12, "Deepti Sharma", "cricket", 148800)
tupd = (14, "sunil chetri", "football", 140000)

In [27]:
query = 'INSERT INTO players (id, name, sport, price) VALUES (?,?,?,?)'

In [28]:
curobj.execute(query, tupa)

In [29]:
conobj.commit()

In [30]:
listx = [tupb, tupc, tupd]

In [31]:
curobj.executemany(query, listx)

In [32]:
conobj.commit()

In [33]:
query = 'UPDATE players SET name = "viswha anand" where id = 23'

curobj.execute(query)

In [34]:
conobj.commit()

In [ ]:
# stopping the recording now